@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');
body::before {
content: "";
display: table;
height: 40px;
}
.bg-cu-main-color {
    background-color: #680d11;
}
.bg-cu-black{
    background-color: #000;

}

.navbar-brand img {
    height: 60px;
}
.showcase h1{
    font-family: changa, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    
}
.showcase h4 {
    font-family: changa,Verdana, Geneva, Tahoma, sans-serif;
}
.showcase img{
    max-height1:100% ;
}
.card {
    height: 400px;
}
.card .img-holder{
    height: 200px;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
}
.card .img-holder img{
    
    
    
    
}